body {
  font-family: 'Open Sans', sans-serif;
}

body a {
 text-decoration: none;
 color: #5C91CD;
 cursor: pointer;
}

body a:hover {
  cursor: pointer;
  font-weight: bold;
}

#nav a {
 text-decoration: none;
 color: black;
 cursor: pointer;
}

#nav a:hover{
  border-bottom: solid 2px;
  color: black;
}

/*index main page*/
#main img {
  width: 75px;
  position: relative;
}

#main {
  line-height: 150%;
  font-size: 1em;
  width: 77%;
  height: inherit;
  margin: auto;
  letter-spacing: 0.05em;

}

#main p{
  font-weight: 800;
  font-size: 4em;
  color: #333333;
}

#panels {
  width: 80%;
  height: inherit;
  margin: auto;
  text-align: justify;
  position: relative;
}

.design {
  float: left;
  width: 33%;
  height: auto;
  display: inline-block;
}

.design img{
  margin: auto;
  display: block;
}

.design-base {
  width: 90%;
  height: auto;
}

.design-base:hover {
  opacity:0.75;
  box-shadow: 10px 10px 10px -10px #333333;
}

.design p{
  opacity: 0;
}

.title {
  text-align: center;
  position: relative;
  transform: translateY(200%);
  font-weight: 800;
  letter-spacing: 10px;
  color: white;
  font-size: 175%;
}

.design-overlay {
  width: 90%;
  height: auto;
  position: relative;
  top: 0px;
}

.about-me {
  margin: 0 auto;
  width: 33%;
  display: inline-block;
}

.about-me img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-me-base {
  width: 90%;
  height: auto;
}

.about-me-base:hover {
  opacity:0.75;
  box-shadow: 10px 10px 10px -10px #333333;
}

.writing {
  position: absolute;
  width: 33%;
  display: inline-block;
}

.writing img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.writing-base {
  width: 90%;
  height: auto;
}

.writing-base:hover {
  opacity:0.75;
  box-shadow: 10px 10px 10px -10px #333333;
}

/*about me*/
#nav {
  overflow: hidden;
  width: 100%;
  margin-bottom: 2%;
}

#nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

#nav li {
  float: left;
  display: table-cell;
  text-align: center;
  margin: 0px;
  padding: 10px 20px;
  font-size: 16px;
}

#nav li a:hover {
  cursor: pointer;
  border-bottom: solid 2px;
  color: #4F6367;
}

#description {
  font-size: 18px;
  width: 65%;
  margin: auto;
  line-height: 150%;
  padding-top: 50px;
}

.pic {
  width: 40%;
  height: 40%;
  object-fit: cover;
  float: right;
  shape-outside:circle();
  margin-left: 50px;
}

.pic:hover{
  -webkit-filter: drop-shadow(1px 1px 1px #333333);
  filter: drop-shadow(1px 1px 1px #333333);
}

#links{
  clear: left;
  width: 25%;
  margin: auto;
  padding-top: 30px;
}

.icon {
  width: 35px;
  height: 35px;
  padding: 0px 5px;
}

/*design page*/
#designnav li{
    list-style-type: none;
}

#designnav {
  font-size: 14px;
}

#portfolio {
  width: 90%;
  margin:auto;
  padding-top: 2.5%;
}

#portfolio p{
  border-bottom: 0.5px dashed black;
  font-weight: bold;

  letter-spacing: 2.5px;
}

#portfolio img{
  width: 50%;
  height: auto;
  display: inline-block;
}

#infographics img:hover{
  box-shadow: 3px 3px 3px #888888;
}

#flyers img:hover{
  box-shadow: 3px 3px 3px #888888;
}
#logos {
  display: inline-block;
}

#logos img{
  width: 32%;
  height: auto;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

#content img {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#page2 {
  width: 90%;
  margin:auto;
  padding-top: 50px;
}

#page2 img{
  width: 24%;
  height: auto;
}

#page2 img:hover{
  box-shadow: 3px 3px 3px #888888;
}

#page3vert {
  width: 90%;
  margin:auto;
  padding-top: 50px;
}

#page3vert img{
  width: 32%;
  height: auto;
}

#page3vert img:hover{
  box-shadow: 3px 3px 3px #888888;
}

#page3horiz {
  width: 90%;
  margin:auto;
}

#page3horiz img{
  width: 32%;
  height: auto;
}

#page3horiz img:hover{
  box-shadow: 3px 3px 3px #888888;
}

/*writing page*/
#excerpt{
  width: 90%;
  margin: auto;
  padding-bottom: 4%;
}

#writingsection {
  width: 90%;
  margin: auto;
  padding-bottom: 8%;
}

#writingsection img{
  width: 25%;
  height: auto;
  float: left;
  padding-right: 25px;
}
